@import "~normalize-scss";
@include normalize();

@import "~owl.carousel/dist/assets/owl.carousel.css";

@font-face {
  font-family: "Marvin";
  src: url(../fonts/Mavrin.woff);
}
@font-face {
  font-family: "Proxima";
  src: url(../fonts/ProximaNova.woff);
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat.ttf);
}

$media-tablet: 1024px;

html {
  scroll-behavior: smooth;
}
body {
  background: #060606;
  font-family: "Marvin";
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
#app {
  transition: 0.5s;
}
.btn-wrapper__alw {
  background: linear-gradient(to right, #ff6b00, #ff0000);
}
.btn-wrapper__fill {
  background: url(../img/btn-gradient__fill.svg) no-repeat;
}
.btn-wrapper__out {
  background: url(../img/btn-gradient__out.svg) no-repeat;
  &:hover {
    background: url(../img/btn-gradient__fill.svg) no-repeat;
  }
}

.btn-wrapper {
  position: relative;
  padding: 3px;
  cursor: pointer;
  border-radius: 2px;
  button {
    border: none;
    margin-top: 3px;
    background: transparent;
    color: white;
    padding-top: 16px;
    padding-bottom: 12px;
    width: 100%;
    cursor: pointer;
    font-size: 30px;
    letter-spacing: 0.03em;
    border-radius: 2px;
    font-family: "Marvin";
    &:focus {
      outline: none;
    }
  }
}
.mobile {
  @media (max-width: $media-tablet) {
    background: linear-gradient(to right, #ff6b00, #ff0000);
  }
  button {
    @media (max-width: $media-tablet) {
      width: 352px;
      margin-top: -1px;
      margin-left: -1px;
      background: black;
      padding-top: 18px;
      padding-bottom: 16px;
    }
  }
}

.section {
  width: 100%;
  display: flex;
  .wrapper {
    max-width: 1100px;
    width: 100%;
    margin: auto;
    overflow: hidden;
    @media (max-width: 1000px) {
      margin: 0 50px;
    }
    @media (max-width: $media-tablet) {
      margin: 0 20px;
    }
  }
}
.section-head {
  display: flex;
  flex-direction: column;
  background: url(../img/background_header.jpg) no-repeat center center;
  background-size: cover;
  .wrapper {
    margin: auto;
  }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    @media (max-width: $media-tablet) {
      margin-top: 0;
    }
    &-opened {
      background-color: #060606;
    }
    .menu-btn {
      display: none;
      cursor: pointer;
      margin: 20px;
      @media (max-width: $media-tablet) {
        display: block;
      }
    }
    .logo {
      width: 115px;
      height: 80px;
      @media (max-width: $media-tablet) {
        display: none;
      }
      img {
        max-width: 100%;
        height: 100%;
      }
    }
    .menu {
      transition: 0.5s;
      @media (max-width: $media-tablet) {
        display: none;
      }
      a {
        color: white;
        font-size: 24px;
        line-height: 24px;
        margin-right: 35px;
        &:last-child {
          margin-right: 0px;
        }
        &:hover {
          color: #ff0000;
        }
      }
    }
    .menu-mobile {
      display: flex;
      position: fixed;
      flex-wrap: wrap;
      top: 80px;
      width: 100%;
      background-color: #060606;
      padding: 20px;
      a {
        line-height: 60px;
      }
    }
    .phone {
      width: 250px;
      a {
        color: white;
        font-size: 28px;
        line-height: 28px;
        &:hover {
          color: #ff0000;
        }
      }
    }
    .phone-mobile {
      @media (max-width: $media-tablet) {
        width: 70px;
        height: 70px;
        background-image: url("../img/phone.svg");
        background-repeat: no-repeat;
        margin: 5px;
        a {
          color: transparent;
          &:hover {
            color: transparent;
          }
        }
      }
    }
    .instagram {
      display: none;
      @media (max-width: $media-tablet) {
        display: flex;
        flex-direction: row;
        cursor: pointer;
        color: white;
        font-size: 18px;
        margin: 0;
        align-items: center;
        img {
          width: 25px;
          height: 25px;
          margin-right: 16px;
        }
      }
    }
  }
  .header-replacer {
    height: 120px;
  }
  .header-background {
    background-color: #060606;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    @media (max-width: $media-tablet) {
      display: none;
    }
  }
  .header-fixed {
    position: fixed;
    width: 100%;
    max-width: 1100px;
    background: #060606;
    top: 0;
    z-index: 100;
    margin: auto;
    .logo {
      padding: 20px;
    }
  }
  .big-logo {
    display: flex;
    justify-content: center;
    max-width: 750px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 90px;
    @media (max-width: $media-tablet) {
      width: 270px;
    }
    img {
      width: 100%;
    }
  }
  .header-btn {
    max-width: 290px;
    height: 128px;
    display: flex;
    margin: auto;
    justify-content: center;
    background: url(../img/btnRedBack.png) no-repeat center center;
    background-size: contain;
    margin-bottom: 80px;
    cursor: pointer;
    @media (max-width: $media-tablet) {
      height: 80px;
    }
    p {
      color: white;
      font-size: 36px;
      @media (max-width: $media-tablet) {
        font-size: 24px;
      }
    }
  }
  .bottom-buttons {
    color: white;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 90%;
    margin-bottom: 50px;
    @media (max-width: $media-tablet) {
      justify-content: center;
    }
    .city {
      display: flex;
      flex-direction: row;
      cursor: pointer;
      color: white;
      @media (max-width: $media-tablet) {
        display: none;
      }
      img {
        margin-right: 20px;
      }
    }
    .instagram {
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
      color: white;
      p {
        margin-bottom: 20px;
      }
      @media (max-width: $media-tablet) {
        display: none;
      }
      img {
        margin-left: 20px;
      }
    }
  }
}
.section-highlight {
  background: url(../img/background_highlights.jpg) no-repeat;
  background-size: cover;
  .wrapper {
    @media (max-width: $media-tablet) {
      margin: 0;
    }
  }
  .list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 85px 0;
    padding: 0;
    min-width: 500px;
    @media (max-width: 800px) {
      margin: 35px 0;
      overflow-x: scroll;
      min-width: unset;
    }
    .list-item {
      color: #ff0000;
      font-size: 24px;
      text-align: center;
      max-width: 170px;
      min-width: 125px;
      @media (max-width: $media-tablet) {
        font-size: 14px;
        margin-right: 25px;
      }
      .list-item_text {
        @media (max-width: $media-tablet) {
          width: 80px;
          margin: auto;
        }
      }
      .list-item_img {
        width: 100%;
      }
    }
  }
}
.section-menu {
  background-color: #060606;
  .title {
    color: white;
    font-size: 96px;
    @media (max-width: $media-tablet) {
      font-size: 48px;
      text-align: center;
    }
  }
  .text {
    color: white;
    font-size: 28px;
    line-height: 40px;
    max-width: 800px;
    margin: 0;
    @media (max-width: $media-tablet) {
      display: none;
    }
  }
  .menu-select {
    display: flex;
    flex-wrap: wrap;
    margin-top: 75px;
    @media (max-width: $media-tablet) {
      margin: 30px auto;
      display: flex;
    }
    .item {
      color: white;
      width: 270px;
      height: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 36px;
      cursor: pointer;
      @media (max-width: $media-tablet) {
        width: 110px;
        height: 50px;
        font-size: 16px;
      }
      &:hover {
        background: url(../img/btnRedBack.png) center center;
        background-size: cover;
      }
    }
    .item-active {
      background: url(../img/btnRedBack.png) center center;
      background-size: cover;
    }
    .item-disabled {
      color: #878787;
      &:hover {
        background-image: none;
      }
    }
  }
  .menu-text {
    margin-top: 45px;
    font-size: 24px;
    color: white;
    margin-bottom: 65px;
    min-height: 27px;
    @media (max-width: $media-tablet) {
      display: none;
    }
  }
  .menu-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    height: 500px;
    @media (max-width: $media-tablet) {
      margin-bottom: 200px;
    }
    .menu-background {
      padding: 2px;
      min-width: 210px;
      max-width: 350px;
      height: 470px;
      background: linear-gradient(to right, #ff6b00, #ff0000);
      .menu-item {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        background: #060606;
        height: 100%;
      }
      .menu-item-img {
        width: 100%;
      }
      .menu-item-title {
        font-size: 24px;
        color: white;
        margin: 30px 30px 25px;
      }
      .menu-item-text {
        font-size: 14px;
        color: white;
        font-family: "Proxima";
        margin: 0 30px 15px;
      }
      .menu-item-weight {
        font-size: 14px;
        font-family: "Proxima";
        color: #878787;
        margin: 0 30px 15px;
      }
      .menu-item-price {
        color: #ff0000;
        font-size: 24px;
        font-family: "Marvin";
        margin: 0 30px 30px;
      }
    }
    .owl-stage:first-child {
      padding-left: 0 !important;
    }
    .owl-stage-outer {
      z-index: 2;
    }
    .owl-nav {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      z-index: 1;
      .owl-prev {
        background-color: transparent;
        left: -70px;
        transform: rotate(90deg);
        position: absolute;
        width: 50px;
        height: 50px;
        top: 50%;
        background-size: contain;
        cursor: pointer;
        color: transparent;
        background-image: url("../img/bottom_btn.svg");
        background-repeat: no-repeat;
        &:hover {
          text-decoration: unset;
          color: transparent;
          background-color: transparent;
          background-size: contain;
          background-image: url("../img/bottom_btn.svg");
          background-repeat: no-repeat;
        }
      }
      .owl-next {
        background-color: transparent;
        right: -60px;
        background-image: url("../img/bottom_btn.svg");
        transform: rotate(-90deg);
        position: absolute;
        width: 50px;
        height: 50px;
        top: 50%;
        background-size: contain;
        cursor: pointer;
        color: transparent;
        background-image: url("../img/bottom_btn.svg");
        background-repeat: no-repeat;
        &:hover {
          text-decoration: unset;
          color: transparent;
          background: unset;
          background-size: contain;
          background-image: url("../img/bottom_btn.svg");
          background-repeat: no-repeat;
        }
      }
    }
    .owl-item {
      opacity: 0.5;
    }
    .owl-item.active {
      opacity: 1;
    }
  }
  .btn-wrapper {
    width: 350px;
    margin-top: 50px;
    margin-bottom: 50px;
    @media (max-width: $media-tablet) {
      display: none;
    }
  }
}
.section-deliver {
  background: url(../img/background_deliver.jpg) no-repeat center center;
  background-size: cover;
  @media (max-width: $media-tablet) {
    position: relative;
    height: 0;
  }
  .deliver-wrapper {
    max-width: 730px;
    margin-top: 175px;
    margin-bottom: 100px;
    .title {
      font-size: 96px;
      color: white;
      margin: 10px 0;
      @media (max-width: $media-tablet) {
        font-size: 48px;
      }
    }
    .text {
      font-size: 28px;
      line-height: 40px;
      color: white;
    }
  }
  .deliver-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 85px;
    @media (max-width: $media-tablet) {
      position: absolute;
      top: -200px;
      margin-top: 0;
      flex-wrap: wrap;
    }
    .btn-wrapper {
      width: 350px;
      height: 66px;
      @media (max-width: $media-tablet) {
        margin-bottom: 25px;
        margin-right: 10px;
      }
    }
  }
}
.section-foodtrack {
  background: url(../img/background_foodtrack.jpg) no-repeat center center;
  background-size: cover;
  color: white;
  @media (max-width: $media-tablet) {
    background-image: none;
    background-color: #121010;
  }
  .foodtrack-wrapper {
    max-width: 900px;
    margin: 90px auto 100px;
    @media (max-width: $media-tablet) {
      margin: 40px auto;
    }
    .title {
      font-size: 96px;
      text-align: center;
      @media (max-width: $media-tablet) {
        font-size: 48px;
      }
    }
    .text {
      font-size: 28px;
      text-align: center;
      margin-bottom: 100px;
      @media (max-width: $media-tablet) {
        display: none;
      }
    }
    .text-mobile {
      font-size: 28px;
      text-align: center;
      margin-bottom: 100px;
      display: none;
      @media (max-width: $media-tablet) {
        display: block;
        font-size: 16px;
        margin-bottom: 20px;
        line-height: 25px;
      }
    }
    .foodtrack-inputs {
      display: flex;
      flex-direction: column;
      max-width: 515px;
      margin: auto;
      .input {
        border-radius: 2px;
        border: 2px solid transparent;
        margin-bottom: 30px;
        height: 70px;
        font-family: "Proxima";
        font-size: 24px;
        padding-left: 25px;
        @media (max-width: $media-tablet) {
          height: 50px;
          font-size: 14px;
        }
      }
      .fileText {
        position: relative;
        cursor: pointer;
        margin-top: 0;
        margin-bottom: 40px;
        color: #ff0000;
        font-family: "Proxima";
        .file {
          position: absolute;
          opacity: 0;
          width: 100%;
          left: 0;
          cursor: pointer;
        }
      }
      .star::-webkit-input-placeholder::after {
        color: #ff0000;
        content: " *";
      }
      .required {
        border: 2px solid #ff0000;
      }
    }
  }
}
.section-cashback {
  .wrapper {
    overflow: unset;
  }
  .title {
    font-size: 96px;
    color: white;
    @media (max-width: $media-tablet) {
      font-size: 48px;
      text-align: center;
      margin-bottom: 0;
    }
  }
  .cashback-wrapper-list {
    display: flex;
    justify-content: space-between;
    @media (max-width: $media-tablet) {
      flex-direction: column-reverse;
      margin-bottom: 150px;
      align-items: center;
    }
    .list-first {
      list-style: none;
      padding: 0;
      .list-item {
        color: white;
        font-size: 30px;
        line-height: 70px;
        position: relative;
        @media (max-width: $media-tablet) {
          font-size: 18px;
          text-align: center;
        }
        .list-item_number {
          color: #ff0000;
          margin-right: 50px;
          font-family: "Proxima";
          @media (max-width: $media-tablet) {
            color: white;
            margin-right: 0;
            font-family: "Marvin";
          }
        }
        .list-item_shadow {
          width: 0;
          height: 0;
          position: absolute;
          top: 31px;
          left: 7px;
          box-shadow: 0px 0px 30px 10px #ff0000;
          @media (max-width: $media-tablet) {
            display: none;
          }
        }
        .arrow_orange {
          display: none;
          background-image: url(../img/arrow__orange.svg);
          background-size: contain;
          background-position: center;
          width: 100px;
          height: 100px;
          margin: auto;
          position: absolute;
          left: calc(50% - 50px);
          top: 17px;
          @media (max-width: $media-tablet) {
            display: flex;
          }
        }
      }
    }
    .list-second {
      list-style: none;
      padding: 0;
      width: 515px;
      height: 332px;
      background: linear-gradient(to right, #ff6b00, #ff0000);
      padding: 2px;
      @media (max-width: $media-tablet) {
        height: 174px;
        width: unset;
      }
      .wrapper-background {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        background-color: #060606;
        .list-item {
          position: relative;
          font-size: 24px;
          color: white;
          display: flex;
          margin-left: 40px;
          display: flex;
          align-items: center;
          @media (max-width: $media-tablet) {
            font-size: 14px;
            margin: 0 40px;
          }
          .icon {
            background: url(../img/circle.svg) no-repeat;
            background-position-y: -24px;
            background-position-x: -25px;
            background-size: 300%;
            margin-right: 25px;
            width: 25px;
            height: 25px;
            margin-bottom: 3px;
          }
          .list-item_shadow {
            width: 0;
            height: 0;
            position: absolute;
            top: 12px;
            left: 11px;
            box-shadow: 0px 0px 30px 10px #ff0000;
          }
        }
      }
    }
  }
  .btn-wrapper {
    margin-top: 75px;
    width: 350px;
    @media (max-width: $media-tablet) {
      width: 100%;
      padding: 0;
    }
  }
  .img-wrapper {
    position: relative;
    img {
      opacity: 0.1;
      width: 500px;
      position: absolute;
      top: -215px;
      right: 0;
      @media (max-width: $media-tablet) {
        opacity: 0.8;
        width: 140px;
        right: calc(50% - 70px);
        top: -215px;
      }
    }
  }
}
.section-contacts {
  .wrapper {
    @media (max-width: $media-tablet) {
      margin: auto;
    }
  }
  .title {
    font-size: 96px;
    color: white;
    text-align: center;
    @media (max-width: $media-tablet) {
      font-size: 48px;
      margin-top: 100px;
    }
  }
  .contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 530px;
    position: relative;
    .contacts {
      @media (max-width: $media-tablet) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
      }
      .title-contact {
        color: white;
        font-size: 28px;
        @media (max-width: $media-tablet) {
          display: none;
        }
      }
      .select-wrapper {
        background: linear-gradient(to right, #ff6b00, #ff0000);
        padding: 2px;
        width: 350px;
        text-transform: uppercase;
        cursor: pointer;
        position: absolute;
        @media (max-width: $media-tablet) {
          left: calc(50% - 175px);
          z-index: 2;
        }
        .select {
          font-family: "Proxima";
          color: white;
          font-size: 24px;
          background: #060606;
          padding: 25px;
          display: flex;
          justify-content: space-between;
          @media (max-width: $media-tablet) {
            background-color: white;
            color: #060606;
          }
          .text {
            padding: 0;
            margin: 0;
          }
        }
        .select-drop {
          font-family: "Proxima";
          color: white;
          font-size: 24px;
          padding: 25px;
          background: #060606;
          @media (max-width: $media-tablet) {
            background-color: white;
            color: #060606;
          }
          &:hover {
            background: linear-gradient(to right, #ff6b00, #ff0000);
          }
        }
        .select-drop_item {
          &:first-child {
            margin-top: 0;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .address {
        color: #878787;
        font-size: 28px;
        line-height: 40px;
        margin-top: 150px;
        @media (max-width: $media-tablet) {
          margin-top: 350px;
          text-align: center;
        }
      }
      .time-text {
        color: #878787;
        font-size: 28px;
        line-height: 40px;
        margin: 0;
        @media (max-width: $media-tablet) {
          text-align: center;
        }
      }
      .time-title {
        color: white;
        font-size: 28px;
        line-height: 40px;
        margin: 0;
        @media (max-width: $media-tablet) {
          text-align: center;
        }
      }
    }
  }
  .map-wrapper {
    position: relative;
    @media (max-width: $media-tablet) {
      position: absolute;
      top: 40px;
      left: calc(50% - 300px);
    }
    #map {
      width: 600px;
      height: 100%;
      @media (max-width: $media-tablet) {
        height: 300px;
      }
    }
    .map {
      position: absolute;
      right: 0;
      height: 100%;
      object-fit: contain;
    }
    @media (max-width: $media-tablet) {
    }
  }
}
.section-footer {
  background: #0b0909;
  position: relative;
  @media (max-width: $media-tablet) {
    padding-bottom: 50px;
  }
  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    @media (max-width: $media-tablet) {
      flex-direction: column;
      align-items: center;
    }
    .logo-footer {
      margin-top: 60px;
      height: 80px;
      @media (max-width: $media-tablet) {
        margin-top: 20px;
      }
    }
    .footer-menu {
      font-family: "Montserrat";
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      font-size: 14px;
      line-height: 40px;
      @media (max-width: $media-tablet) {
        margin-top: 20px;
      }
      a {
        color: white;
        text-transform: uppercase;
        @media (max-width: $media-tablet) {
          text-align: center;
        }
        &:hover {
          color: #ff0000;
        }
      }
    }
    .footer-links {
      font-family: "Montserrat";
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      font-size: 14px;
      line-height: 40px;
      @media (max-width: $media-tablet) {
        display: none;
      }
      a {
        color: white;
        &:hover {
          color: #ff0000;
        }
      }
    }
    .footer-btns {
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      @media (max-width: $media-tablet) {
        align-items: center;
      }
      .scroll-top {
        margin-bottom: 35px;
        cursor: pointer;
        @media (max-width: $media-tablet) {
          position: absolute;
          top: -40px;
          right: 20px;
        }
        img {
          transform: rotate(180deg);
        }
      }
      .fixed-scroll {
        position: fixed;
        opacity: 0.5;
        bottom: -30px;
        &:hover {
          opacity: 1;
        }
        @media (max-width: $media-tablet) {
          display: none;
        }
      }
      .footer-phone {
        color: white;
        font-size: 30px;
        margin-top: 50px;
        @media (max-width: $media-tablet) {
          font-size: 18px;
        }
        &:hover {
          color: #ff0000;
        }
      }
      .instagram {
        margin-top: 20px;
        color: #ec290f;
        display: flex;
        font-size: 24px;
        @media (max-width: $media-tablet) {
          margin-top: 15px;
        }
        p {
          margin: 0;
          margin-top: 4px;
        }
        img {
          width: 30px;
          height: 30px;
          margin-left: 24px;
        }
      }
    }
  }
}
